parameters:
    level: 4
    paths:
        - src
    reportUnmatchedIgnoredErrors: false
    bootstrapFiles:
        - phpstan-bootstrap.php
    ignoreErrors:
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::[a-zA-Z0-9\\_]+\(\)#'
